
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Estilos del encabezado */
header {
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: 100vh; /* Ajusta la altura según la imagen */
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo-link img, .carrito-link img {
    height: 40px;
}

.header-content {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    padding: 0px;
    z-index: 1; /* Asegura que el contenido de texto esté por encima de la imagen */
}


.header-text {
    position: absolute; /* Permite posicionar el texto sobre la imagen */
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 50%;
    z-index: 1; /* Asegura que el texto esté sobre la imagen */
    color: #fff;
    padding: 0 20px; /* Agrega padding para mejorar la visibilidad del texto */
    
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header-subtitle {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.car-model-info {
    margin: 20px 0;
}

.model-title {
    font-size: 20px;
    font-weight: bold;
}

.model-number {
    font-size: 80px;
    font-weight: bold;
}

.model-type {
    font-size: 18px;
    font-weight: bold;
}

.header-image {
    width: auto; /* Muestra la imagen en su tamaño original */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    max-height: 100vh; /* Opcional: evita que la imagen sea más alta que la ventana del navegador */
    display: block; /* Evita el espaciado debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente si es necesario */
}



/* Estilos para navegación */
nav.car-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav.car-nav ul li {
    margin: 0 10px;
}

nav.car-nav ul li button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

nav.car-nav ul li button:hover {
    border-color: #000;
}

/* Estilos para la sección de carros */
.carros {
    padding: 20px;
}

/* Estilos para cada sección de carros */
.car-section {
    margin-bottom: 40px;
}

/* Título de la sección */
.section-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

/* Contenedor de carros dentro de una sección */
.car-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los carros */
    justify-content: center; /* Centra los carros horizontalmente */
}

/* Estilos para cada carro */
.car {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    width: calc(50% - 20px); /* Ajusta el ancho para permitir dos carros por fila */
    max-width: 300px; /* Máximo ancho para cada carro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra para destacar los carros */
}

/* Estilos para la imagen del carro */
.car-image {
    width: 100%;
    height: 200px; /* Ajusta la altura para hacer las imágenes más grandes */
    object-fit: cover;
}

/* Estilos para la información del carro */
.car-info {
    padding: 10px;
    text-align: center;
}

/* Títulos e información del carro */
.car-title {
    font-size: 20px;
    font-weight: bold;
}

.car-description {
    font-size: 18px;
}

.car-price {
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.footer-links {
    margin: 10px 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-rights {
    margin-top: 10px;
    font-size: 12px;
}
#current-section{
    display: none;
}
/* Estilos para el botón de añadir al carrito */
.add-to-cart {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #333;
}
.header-image-large,
.header-image-small {
    width: 100%;
    height: auto;
    display: none; /* Oculta las imágenes por defecto */
}


/* Media Queries para Responsividad */

/* Pantallas grandes (desktops) */
@media (min-width: 769px) {
    .car {
        width: calc(50% - 20px); /* Dos carros por fila */
    }
    .header-image-large {
        display: block; /* Muestra la imagen grande en pantallas grandes */
    }
    
}

/* Pantallas de tamaño medio (tabletas) */
@media (max-width: 768px) {
    .header-text {
        position: absolute; /* Mantiene el texto sobre la imagen */
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centra el texto */
        max-width: 90%; /* Ajusta el ancho máximo */
        padding: 0 10px; /* Reduce el padding */
        text-align: center; /* Centra el texto */
        z-index: 1; /* Asegura que el texto esté sobre la imagen */
    }

    .header-title {
        font-size: 20px; /* Tamaño de fuente reducido */
        margin: 0;
    }

    .header-subtitle {
        font-size: 24px; /* Tamaño de fuente reducido */
        margin: 5px 0;
    }

    .car-model-info {
        margin: 10px 0; /* Ajusta márgenes */
    }

    .model-title {
        font-size: 18px; /* Tamaño de fuente reducido */
        top: 10%;
    }

    .model-number {
        
        font-size: 100px; /* Tamaño de fuente reducido */
        
    }

    .model-type {
        font-size: 18px; /* Tamaño de fuente reducido */
        
        
    }

    .header-image-large {
        display: none; /* Oculta la imagen grande en pantallas pequeñas */
    }

    .header-image-small {
        display: block; /* Muestra la imagen pequeña en pantallas pequeñas */
    }
    
}

/* Pantallas de tamaño pequeño (móviles) */
@media (max-width: 480px) {
    .car {
        width: calc(100% - 20px); /* Ajusta el ancho del carro en pantallas móviles */
    }
    .car-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-image-large {
        display: none; /* Oculta la imagen grande en pantallas móviles */
    }
    .header-image-small {
        display: block; /* Muestra la imagen pequeña en pantallas móviles */
    }
    .header-text {
        padding: 0 5px; /* Reduce padding en móviles */
    }

    .header-title {
        font-size: 18px; /* Ajusta tamaño de fuente */
    }

    .header-subtitle {
        font-size: 20px; /* Ajusta tamaño de fuente */
    }

    .model-title {
        font-size: 16px; /* Ajusta tamaño de fuente */
    }

    .model-number {
        font-size: 40px; /* Ajusta tamaño de fuente */
    }

    .model-type {
        font-size: 14px; /* Ajusta tamaño de fuente */
    }

    .header-image-large {
        display: none; /* Oculta la imagen grande en móviles */
    }

    .header-image-small {
        display: block; /* Muestra la imagen pequeña en móviles */
    }

    
   
}
